%section
  %h1 Leaderboard
  %table
    %tr
      %th Rank
      %th Player
      %th Score
      %th Wins
      %th Kills
      %th Deaths
      %th Assists
      %th Death Order
      %th Death Time
      %th Hits Out
      %th Dmg Out
      %th Mis Dmg Out
      %th Mis Parts Out
      %th Roc Dmg Out
      %th Roc Parts Out
      %th Ram Parts Out
      %th Hits In
      %th Dmg In
      %th Mis Dmg In
      %th Mis Parts In
      %th Roc Dmg In
      %th Roc Parts In
      %th Ram Parts In
      %th Ast Parts In
      %th Waypoints
      %th Elapsed Time
      %th Deviation
    - heat.leaders.each_with_index do |p, k|
      %tr
        %td= k+1
        %td= p[:name]
        %td= number_with_precision(p[:score], precision: 3)
        %td= p[:wins]
        %td= p[:kills]
        %td= p[:deaths]
        %td= p[:assists]
        %td= number_with_precision(p[:death_order], precision: 3)
        %td= number_with_precision(p[:death_time], precision: 3)
        %td= p[:hits_out]
        %td= number_with_precision(p[:dmg_out], precision: 0)
        %td= number_with_precision(p[:mis_dmg_out], precision: 0)
        %td= p[:mis_parts_out]
        %td= number_with_precision(p[:roc_dmg_out], precision: 0)
        %td= p[:roc_parts_out]
        %td= p[:ram_parts_out]
        %td= p[:hits_in]
        %td= number_with_precision(p[:dmg_in], precision: 0)
        %td= number_with_precision(p[:mis_dmg_in], precision: 0)
        %td= p[:mis_parts_in]
        %td= number_with_precision(p[:roc_dmg_in], precision: 0)
        %td= p[:roc_parts_in]
        %td= p[:ram_parts_in]
        %td= p[:ast_parts_in]
        %td= p[:waypoints]
        %td= number_with_precision(p[:elapsed_time], precision: 2)
        %td= number_with_precision(p[:deviation], precision: 0)
