- content_for(:html_title) { "Heat Details, G#{@instance.stage}H#{@instance.order}" }

= content_for(:nav, render(partial: 'shared/nav'))

- content_for :sidebar do
  %ul.list-unstyled
    %li= link_to "Back to #{@instance.competition.name}", competition_path(@instance.competition)

%section
  %h1 Heat Details, Stage: #{@instance.stage}, Order: #{@instance.order}
  %ul
    - if @instance.started?
      %li Started: #{@instance.started_at}
    - else
      %li Not started
    - if @instance.ended?
      %li Ended: #{@instance.ended_at}
      %li Duration: #{@instance.duration}
    - else
      %li Ended: -
      %li Duration: -
  %p= @instance.vessels.map(&:player).map(&:name).join(", ")
  = render partial: 'leaders', locals: { heat: @instance }

= render partial: 'player_list', locals: { heat: @instance }

= render partial: 'audit', locals: { heat: @instance }
