- content_for(:html_title) { "Edit Part" }

= content_for(:nav, render(partial: 'shared/nav'))

- content_for(:sidebar) do
  %h4 Actions
  %ul.list-unstyled
    %li= link_to 'Back', parts_path

%section
  %h1 Edit Part
  - if flash[:error]
    %ul.errors
      - flash[:error].each do |e|
        %li= e
  - if flash[:notice]
    %ul.errors
      %li= flash[:notice]
  = form_for @part do |f|
    .form-group
      = f.label :name, 'Name: '
      = @part.name
    .form-group
      = f.label :points
      = f.number_field :points
    .form-group
      = f.submit 'Submit'
