- content_for(:html_title) { "Manage Vessels" }

= content_for(:nav, render(partial: 'shared/nav'))

- content_for(:sidebar) do
  %h4 Actions
  %ul.list-unstyled
    %li= link_to 'Back to Competition', competition_path(@competition)
    %li= link_to 'Vessel Hangar', player_vessels_path(current_user.player)

%section
  %h1 Manage Vessels
  - if flash[:error]
    %p= flash[:error]
  %h2 Included Vessels
  - included_vessels = @competition.vessel_assignments.includes(vessel: :player).where(vessels: {player_id: current_user.player.id})
  %ul
    - if included_vessels.any?
      - included_vessels.each do |va|
        %li
          = va.vessel.full_name
          = link_to 'remove', competition_vessel_path(@competition, va), method: :delete, data: { confirm: "Are you sure?" }
    - else
      %li None

  %h2 Select Vessel
  - if included_vessels.count < @competition.max_vessels_per_player
    - available_vessels = @vessels - included_vessels.map(&:vessel)
    - if available_vessels.any?
      %ul
        - available_vessels.each do |v|
          %li
            = form_for :vessel_assignment, url: competition_vessels_path(@competition) do |f|
              = f.label :vessel_id, v.full_name
              = f.hidden_field :vessel_id, value: v.id
              = f.submit 'Select'
    - else
      %p You haven't uploaded any vessels yet
  - else
    %p You already have the maximum allowed submissions!
