- content_for(:html_title) { "Upload Vessel" }

= content_for(:nav, render(partial: 'shared/nav'))

- content_for(:sidebar) do
  %h4 Actions
  %ul.list-unstyled
    %li= link_to 'Cancel', competition_path(@competition)

%section.l-row
  %h1 Upload Vessel for #{@competition.name}
  %h2 Consider the Following
  %ul
    %li Every Vessel must have a unique name
    %li
      Vessels will appear as
      %code &lt;player&gt;_&lt;vessel&gt;
      (no need to include your name)
  - if flash[:error]
    %ul.errors
    - if flash[:errors].is_a?(Array)
      - flash[:error].each do |e|
        %li= e
    - else
      %li= flash[:error]
  = form_for :vessel, url: assign_competition_vessels_path(@competition), html: { multipart: true } do |f|
    .form-group
      = f.label :name
      = f.text_field :name, class: 'form-control'
    .form-group
      = f.label :file
      = file_field_tag :file, class: 'form-control'
    .form-group.form-check
      = f.check_box :force, class: 'form-check-input'
      = f.label :force, 'Replace existing?', class: 'form-check-label'
    = f.submit 'Submit', class: 'c-button'

