%h4 Actions
%ul.list-unstyled
  - if !user_signed_in?
    %li= link_to 'Register to Get Started', register_path
  - elsif competition.status == 0
    %li= link_to 'Manage Vessels', competition_vessels_path(competition)
    %li= link_to 'Submit Craft', new_competition_vessel_path(competition)
  - if user_signed_in? && competition.user_can_manage?(current_user)
    %li= link_to 'Manage Organizers', competition_organizers_path(competition)
    %li= link_to 'Edit Competition', edit_competition_path(competition)
    %li= link_to 'Edit NPCs', competition_players_path(competition)
    - if competition.private?
      %li= link_to 'Publish Now', publish_competition_path(competition)
    - if competition.public?
      %li= link_to 'Make Private', unpublish_competition_path(competition)
    - if competition.can_start?
      %li= link_to 'Start Competition', start_competition_path(competition)
    - elsif competition.running?
      %li= link_to 'Reject Vessels', manage_competition_vessels_path(competition)
      %li= link_to 'Un-Start Competition', unstart_competition_path(competition)
      %li= link_to 'Extend (Random)', extend_competition_path(competition), data: { confirm: "WARNING! This will generate heats. Are you sure?" }
      %li= link_to 'Extend (Ranked)', extend_competition_path(competition, strategy: "ranked"), data: { confirm: "WARNING! This will generate heats. Are you sure?" }
  - elsif user_signed_in? && competition.can_start?
    %li Waiting for Host to Start
  - else
    %li No actions
