%h4 Actions
%ul.list-unstyled
  - if !user_signed_in?
    %li= link_to 'Register to Get Started', register_path
  - elsif competition.status == 0
    %li= link_to 'Manage Vessels', competition_vessels_path(competition)
  - if user_signed_in? && current_user == competition.user
    %li= link_to 'Edit Competition', edit_competition_path(competition)
    %li= link_to 'Edit NPCs', competition_players_path(competition)
    - if competition.private?
      %li= link_to 'Publish Now', publish_competition_path(competition)
    - if competition.public?
      %li= link_to 'Make Private', unpublish_competition_path(competition)
    - if competition.can_start?
      %li= link_to 'Start Competition', start_competition_path(competition)
    - elsif competition.running?
      %li= link_to 'Un-Start Competition', unstart_competition_path(competition)
      %li= link_to 'Extend Competition', extend_competition_path(competition)
  - elsif user_signed_in? && competition.can_start?
    %li Waiting for Host to Start
  - else
    %li No actions
