%section.heats
  %h2
    Heats
    %button.btn.btn-secondary.btn-sm{"data-bs-toggle": "collapse", "data-bs-target": "#heat_details", "aria-expanded": false, "aria-controls": "heat_details"} Toggle Details
  %table#heat_details.collapse.list-group
    %tr
      %th Stage
      %th Order
      %th Status
      %th Actions
      %th Players
    - @instance.heats.includes(heat_assignments: { vessel: :player }).order(:stage, :order).each do |h|
      %tr
        %td= h.stage
        %td= h.order
        %td= h.status
        %td
          - if user_signed_in? && current_user.id == @instance.id && h.can_reset?
            = link_to 'Reset', reset_competition_heat_path(@instance, h)
          = link_to 'Details', competition_heat_path(@instance, h)
        %td= h.heat_assignments.map(&:vessel).map(&:full_name).join(", ")
