%section.heats
  %h2 Heats
  %table
    %tr
      %th Stage
      %th Order
      %th Status
      %th Actions
      %th Players
    - @instance.heats.includes(heat_assignments: { vessel: :player }).order(:stage, :order).each do |h|
      %tr
        %td= h.stage
        %td= h.order
        %td= h.status
        %td
          = link_to 'Reset', reset_competition_heat_path(@instance, h) if h.can_reset?
          = link_to 'Details', competition_heat_path(@instance, h)
        %td= h.heat_assignments.map(&:vessel).map(&:player).map(&:name).join(", ")
