%section
  %h2
    Leaderboard
    %button.btn.btn-secondary.btn-sm{"data-bs-toggle": "collapse", "data-bs-target": "#leader_details", "aria-expanded": false, "aria-controls": "leader_details"} Toggle Details
  %table#leader_details.collapse.show.sortable.searchable.c-leaderboard-table
    %thead
      %tr
        %th Rank
        %th Player
        %th Score
        %th Wins
        %th Kills
        %th Deaths
        %th Assists
        - if show_columns.include?(:death_order) || competition.metric.death_order != 0
          %th Death Order
        - if show_columns.include?(:death_time) || competition.metric.death_time != 0
          %th Death Time
        - if show_columns.include?(:hits_out) || competition.metric.hits_out != 0
          %th Hits Out
        - if show_columns.include?(:dmg_out) || competition.metric.dmg_out != 0
          %th Dmg Out
        - if show_columns.include?(:mis_dmg_out) || competition.metric.mis_dmg_out != 0
          %th Mis Dmg Out
        - if show_columns.include?(:mis_parts_out) || competition.metric.mis_parts_out != 0
          %th Mis Parts Out
        - if show_columns.include?(:roc_dmg_out) || competition.metric.roc_dmg_out != 0
          %th Roc Dmg Out
        - if show_columns.include?(:roc_parts_out) || competition.metric.roc_parts_out != 0
          %th Roc Parts Out
        - if show_columns.include?(:ram_parts_out) || competition.metric.ram_parts_out != 0
          %th Ram Parts Out
        - if show_columns.include?(:hits_in || competition.metric.hits_in != 0)
          %th Hits In
        - if show_columns.include?(:dmg_in) || competition.metric.dmg_in != 0
          %th Dmg In
        - if show_columns.include?(:mis_dmg_in) || competition.metric.mis_dmg_in != 0
          %th Mis Dmg In
        - if show_columns.include?(:mis_parts_in) || competition.metric.mis_parts_in != 0
          %th Mis Parts In
        - if show_columns.include?(:roc_dmg_in) || competition.metric.roc_dmg_in != 0
          %th Roc Dmg In
        - if show_columns.include?(:roc_parts_in) || competition.metric.roc_parts_in != 0
          %th Roc Parts In
        - if show_columns.include?(:ram_parts_in) || competition.metric.ram_parts_in != 0
          %th Ram Parts In
        - if show_columns.include?(:ast_parts_in) || competition.metric.ast_parts_in != 0
          %th Ast Parts In
        - if show_columns.include?(:waypoints) || competition.metric.waypoints != 0
          %th Waypoints
        - if show_columns.include?(:elapsed_time) || competition.metric.elapsed_time != 0
          %th Elapsed Time
        - if show_columns.include?(:deviation) || competition.metric.deviation != 0
          %th Deviation
    %tbody
      - competition.leaders.each_with_index do |p, k|
        %tr
          %td= k+1
          %td= p.vessel.full_name
          %td= number_with_precision(p[:score], precision: 3)
          %td= p[:wins]
          %td= p[:kills]
          %td= p[:deaths]
          %td= p[:assists]
          - if show_columns.include?(:death_order) || competition.metric.death_order != 0
            %td= number_with_precision(p[:death_order], precision: 3)
          - if show_columns.include?(:death_time) || competition.metric.death_time != 0
            %td= number_with_precision(p[:death_time], precision: 3)
          - if show_columns.include?(:hits_out) || competition.metric.hits_out != 0
            %td= p[:hits_out]
          - if show_columns.include?(:dmg_out) || competition.metric.dmg_out != 0
            %td= number_with_precision(p[:dmg_out], precision: 0)
          - if show_columns.include?(:mis_dmg_out) || competition.metric.mis_dmg_out != 0
            %td= number_with_precision(p[:mis_dmg_out], precision: 0)
          - if show_columns.include?(:mis_parts_out) || competition.metric.mis_parts_out != 0
            %td= p[:mis_parts_out]
          - if show_columns.include?(:roc_dmg_out) || competition.metric.roc_dmg_out != 0
            %td= number_with_precision(p[:roc_dmg_out], precision: 0)
          - if show_columns.include?(:roc_parts_out) || competition.metric.roc_parts_out != 0
            %td= p[:roc_parts_out]
          - if show_columns.include?(:ram_parts_out) || competition.metric.ram_parts_out != 0
            %td= p[:ram_parts_out]
          - if show_columns.include?(:hits_in) || competition.metric.hits_in != 0
            %td= p[:hits_in]
          - if show_columns.include?(:dmg_in) || competition.metric.dmg_in != 0
            %td= number_with_precision(p[:dmg_in], precision: 0)
          - if show_columns.include?(:mis_dmg_in) || competition.metric.mis_dmg_in != 0
            %td= number_with_precision(p[:mis_dmg_in], precision: 0)
          - if show_columns.include?(:mis_parts_in) || competition.metric.mis_parts_in != 0
            %td= p[:mis_parts_in]
          - if show_columns.include?(:roc_dmg_in) || competition.metric.roc_dmg_in != 0
            %td= number_with_precision(p[:roc_dmg_in], precision: 0)
          - if show_columns.include?(:roc_parts_in) || competition.metric.roc_parts_in != 0
            %td= p[:roc_parts_in]
          - if show_columns.include?(:ram_parts_in) || competition.metric.ram_parts_in != 0
            %td= p[:ram_parts_in]
          - if show_columns.include?(:ast_parts_in) || competition.metric.ast_parts_in != 0
            %td= p[:ast_parts_in]
          - if show_columns.include?(:waypoints) || competition.metric.waypoints != 0
            %td= p[:waypoints]
          - if show_columns.include?(:elapsed_time) || competition.metric.elapsed_time != 0
            %td= number_with_precision(p[:elapsed_time], precision: 2)
          - if show_columns.include?(:deviation) || competition.metric.deviation != 0
            %td= number_with_precision(p[:deviation], precision: 0)
