%nav
  %ul
    %li= link_to 'Home', home_path
    %li= link_to 'Competitions', competitions_path
    %li= link_to 'Back', competition_path(@competition)

%h1 Edit Competition
%ul
  %li= link_to 'Edit Scoring', edit_competition_metric_path(@competition)

- if flash[:error]
  %p.error= flash[:error]
= form_for @competition do |f|
  %ul
    %li
      = f.label :name
      = f.text_field :name
    %li
      = f.label :ruleset_id, "Ruleset"
      = f.select :ruleset_id, options_for_select(@rulesets, @competition.ruleset_id), include_blank: true
    %li
      = f.label :max_stages, 'Number of ranked stages'
      = f.number_field :max_stages
  = f.submit 'Save Competition'
