- content_for(:html_title) { "Edit Competition" }

= content_for(:nav, render(partial: 'shared/nav'))

- content_for(:sidebar) do
  %h4 Sections
  %ul.list-unstyled
    %li= link_to 'Edit Scoring', edit_competition_metric_path(@competition)
    %li= link_to 'Cancel', competition_path(@competition)

%section
  %h1 Edit Competition

  - if flash[:error]
    %p.error= flash[:error]

  = form_for @competition do |f|
    .form-group
      = f.label :name
      = f.text_field :name, class: "form-control"
    .form-group
      = f.label :ruleset_id, "Ruleset"
      = f.select :ruleset_id, options_for_select(@rulesets, @competition.ruleset_id), include_blank: true
    .form-group
      = f.label :max_stages, 'Number of ranked stages'
      = f.number_field :max_stages, class: "form-control"
    .form-group
      = f.label :max_vessels_per_player, 'Max vessels per player'
      = f.number_field :max_vessels_per_player, min: 1, class: 'form-control'
    .form-group
      = f.label :max_players_per_heat, 'Max players per heat (up to 20, default 8)'
      = f.number_field :max_players_per_heat, min: 8, max: 20, class: 'form-control'
    .form-group
      = f.label :secret_key, 'Auth Token'
      = f.text_field :secret_key, min: 1, max: 10, class: 'form-control'
    .form-group
      - if @competition.heats.any?
        = f.label :mode, 'Mode (locked)'
        %p.form-control= @competition.display_mode rescue ""
      - else
        = f.label :mode, 'Mode'
        = f.select :mode, options_for_select(Competition.modes, @competition.mode), { include_blank: false }, class: "form-control"
    .form-group
      = f.submit 'Save Competition', class: "form-control"
