- content_for(:html_title) { "Competitions" }

= content_for(:nav, render(partial: 'shared/nav'))

- content_for(:sidebar) do
  %h4 Actions
  %ul.list-unstyled
    %li= link_to 'New Competition', new_competition_path

%section
  %h1 Public Competitions
  %ul.list-group
  - if @competitions.published.any?
    - @competitions.published.each do |e|
      %li.list-group-item= link_to e.name, competition_path(e)
  - else
    %li.list-group-item None

- if user_signed_in?
  %section
    %h1 Competitions Shared With Me
    %ul.list-group
    - if current_user.organizers.map(&:competition).any?
      - current_user.organizers.map(&:competition).each do |e|
        %li.list-group-item= link_to e.name, competition_path(e)
    - else
      %li.list-group-item None

%section
  %h1 Private Competitions
  %ul.list-group
  - if @competitions.unpublished.any?
    - @competitions.unpublished.each do |e|
      - if user_signed_in? && e.user == current_user
        %li.list-group-item= link_to e.name, competition_path(e)
  - else
    %li.list-group-item None
