- content_for(:html_title) { "Vessel Hangar" }

= content_for(:nav, render(partial: 'shared/nav'))

- content_for(:sidebar) do
  %h4 Actions
  %ul.list-unstyled
    %li= link_to 'Fork Existing', template_competitions_path
    %li= link_to 'Cancel', competitions_path

%section.l-row
  %h1 New Competition

  - if flash[:error]
    %p.error= flash[:error]
  = form_for Competition.new do |f|
    .form-group
      = f.label :name
      = f.text_field :name, class: 'form-control'
    .form-group
      = f.label :ruleset_id, 'Ruleset'
      = f.select :ruleset_id, options_for_select(@rulesets.map { |e| [e.name, e.id] }), { include_blank: true }, { class: 'form-control' }
    .form-group
      = f.label :max_stages, 'Number of ranked stages'
      = f.number_field :max_stages, min: 1, class: 'form-control'
    .form-group
      = f.label :max_vessels_per_player, 'Max vessels per player'
      = f.number_field :max_vessels_per_player, min: 1, class: 'form-control'
    .form-group
      = f.label :max_players_per_heat, 'Max players per heat (up to 20, default 8)'
      = f.number_field :max_players_per_heat, min: 8, max: 20, class: 'form-control'
    .form-group
      = f.label :mode, 'Mode'
      = f.select :mode, options_for_select(Competition.modes, :ffa), { include_blank: false }, class: "form-control"
    .form-group
      = f.label :secret_key, 'Secret Key'
      = f.text_field :secret_key, value: SecureRandom.hex(3), class: 'form-control'
    .form-group
      = f.submit 'Create Competition', class: 'form-control'

