<nav>
<ul>
<li><%= link_to 'Home', root_path %></li>
<li><%= link_to 'Competitions', competitions_path %></li>
</ul>
</nav>

<h1><%= @instance.name %></h1>

<section>
<h2>Status: <%= @instance.status_label.humanize %></h2>
<%= render partial: 'actions', locals: { competition: @instance } %>
</section>

<%= render partial: 'leaders', locals: { competition: @instance } %>

<%= render partial: 'player_list', locals: { competition: @instance } %>

<%= render(partial: 'heats', locals: { competition: @instance }) if @instance.heats.any? %>
