<nav>
<ul>
<li><%= link_to 'Home', home_path %></li>
<li><%= link_to 'Competitions', competitions_path %></li>
</ul>
</nav>

<h1><%= @instance.name %></h1>
<section class=""rules>
  <h2>Rules</h2>
  <ul>
    <% if @instance.rules.any? -%>
      <% @instance.rules.each do |r| -%>
      <li><%= r.strategy %>(<%= r.params %>)</li>
      <% end -%>
    <% else -%>
      <li>No rules</li>
    <% end -%>
  </ul>
</section>
<section>
<h2>Status: <%= @instance.status_label.humanize %></h2>
<h2>Stage: <% if @instance.stage == 0 %>Qualifying<% else %><%= @instance.stage %> of <%= @instance.max_stages %></h2><% end %>
<%= render partial: 'scoring', locals: { competition: @instance } %>
<%= render partial: 'actions', locals: { competition: @instance } %>
</section>

<%= render partial: 'leaders', locals: { competition: @instance } %>

<%= render partial: 'player_list', locals: { competition: @instance } %>

<%= render(partial: 'heats', locals: { competition: @instance }) if @instance.heats.any? %>
