%nav
  %ul
    %li= link_to 'Home', home_path
    %li= link_to 'Competitions', competitions_path

%section
  %h1 Fork a Competition
  - if flash[:error]
    %p= flash[:error]
  = form_for :competition, url: duplicate_competitions_path do |f|
    = f.label :original_id, 'Original'
    = f.select :original_id, options_for_select(@competitions.each_with_object(Hash.new(0)) { |e,h| h[e.name] = e.id })
    = f.label :name
    = f.text_field :name
    = f.submit "Create Fork"
