- content_for(:html_title) { "Edit Ruleset" }

= content_for(:nav, render(partial: 'shared/nav'))

- content_for(:sidebar) do
  %h4 Actions
  %ul.list-unstyled
    %li= link_to 'Cancel', ruleset_path(@ruleset)

%section
  %h1 Edit Ruleset

  = form_for @ruleset do |f|
    .form-group
      = f.label :name
      = f.text_field :name, class: 'form-control'
    .form-group
      = f.label :summary
      = f.text_area :summary, class: 'form-control'
    .form-group= f.submit "Update Ruleset", class: 'form-control'
