%nav
  %ul
    %li= link_to 'Home', home_path
    %li= link_to 'Back', rulesets_path

%section
  %h1 New Ruleset

  = form_for @ruleset do |f|
    %div
      = f.label :name
      = f.text_field :name
    %div
      = f.label :summary
      = f.text_area :summary
    %div= f.submit
