%nav
  %ul
    %li= link_to 'Home', root_path
    %li= link_to 'Rulesets', rulesets_path

%section
  %h1 Ruleset: #{@ruleset.name}
  %p= @ruleset.summary

%section.rules
  %h1 Rules
  %ul
    - if @ruleset.rules.any?
      - @ruleset.rules.each do |rule|
        %li
          #{rule.strategy}(#{rule.params})
          = link_to 'remove', ruleset_rule_path(@ruleset, rule), method: :delete, data: { confirm: "Are you sure?" }
    - else
      %li No rules defined
  %ul
    %li= link_to 'Add rule', new_ruleset_rule_path(@ruleset)
