- content_for(:html_title) { "Edit Competition" }

= content_for(:nav, render(partial: 'shared/nav'))

- content_for(:sidebar) do
  %h4 Sections
  %ul.list-unstyled
    %li= link_to 'Cancel', edit_competition_path(@competition)

%section
  %h1 Adjust Scoring Metric
  = form_for [@competition, @competition.metric] do |f|
    .row
      .col
        .form-group
          = f.label :wins
          = f.text_field :wins, class: "form-control"
        .form-group
          = f.label :kills
          = f.text_field :kills, class: "form-control"
        .form-group
          = f.label :deaths
          = f.text_field :deaths, class: "form-control"
        .form-group
          = f.label :assists
          = f.text_field :assists, class: "form-control"
        .form-group
          = f.label :death_order
          = f.text_field :death_order, class: "form-control"
        .form-group
          = f.label :death_time
          = f.text_field :death_time, class: "form-control"
        .form-group
          = f.label :waypoints
          = f.text_field :waypoints, class: "form-control"
        .form-group
          = f.label :elapsed_time
          = f.text_field :elapsed_time, class: "form-control"
        .form-group
          = f.label :deviation
          = f.text_field :deviation, class: "form-control"

      .col
        .form-group
          = f.label :hits_out
          = f.text_field :hits_out, class: "form-control"
        .form-group
          = f.label :dmg_out
          = f.text_field :dmg_out, class: "form-control"
        .form-group
          = f.label :mis_dmg_out
          = f.text_field :mis_dmg_out, class: "form-control"
        .form-group
          = f.label :mis_parts_out
          = f.text_field :mis_parts_out, class: "form-control"
        .form-group
          = f.label :roc_dmg_out
          = f.text_field :roc_dmg_out, class: "form-control"
        .form-group
          = f.label :roc_parts_out
          = f.text_field :roc_parts_out, class: "form-control"
        .form-group
          = f.label :ram_parts_out
          = f.text_field :ram_parts_out, class: "form-control"
      .col
        .form-group
          = f.label :hits_in
          = f.text_field :hits_in, class: "form-control"
        .form-group
          = f.label :dmg_in
          = f.text_field :dmg_in, class: "form-control"
        .form-group
          = f.label :mis_dmg_in
          = f.text_field :mis_dmg_in, class: "form-control"
        .form-group
          = f.label :mis_parts_in
          = f.text_field :mis_parts_in, class: "form-control"
        .form-group
          = f.label :roc_dmg_in
          = f.text_field :roc_dmg_in, class: "form-control"
        .form-group
          = f.label :roc_parts_in
          = f.text_field :roc_parts_in, class: "form-control"
        .form-group
          = f.label :ram_parts_in
          = f.text_field :ram_parts_in, class: "form-control"
        .form-group
          = f.label :ast_parts_in
          = f.text_field :ast_parts_in, class: "form-control"
    .form-group
      = f.submit 'Save', class: "form-control"
