%ul.g-header__links
  %li= link_to 'Home', home_path
  %li= link_to 'Competitions', competitions_path
  - if user_signed_in?
    - if current_user.can_run_evolutions?
      %li= link_to 'Evolutions', evolutions_path
    - unless current_user.player.nil?
      %li= link_to 'My Player', player_path(current_user.player)
    %li= link_to 'Parts Database', parts_path
    %li= link_to 'Players', players_path
    - if current_user.can_edit_rulesets?
      %li= link_to 'Rulesets', rulesets_path
    %li= link_to 'Vessel Hangar', player_vessels_path(current_user.player)
