- content_for(:html_title) { "Home" }

= content_for(:nav, render(partial: 'shared/nav'))

- content_for(:sidebar) do
  %ul.list-unstyled
    - if !user_signed_in?
      %li= link_to 'Register', '/register'

%section.l-stack
  %h1 Flying Circus
  %h2 Helpful Links
  .list-group
    = link_to "Runway Project Discord", "https://discord.gg/kdMKuvfWqR", class: "list-group-item"
    = link_to "aubranium on Twitch", "https://twitch.tv/aubranium", class: "list-group-item"
    = link_to "aubranium YouTube", "https://www.youtube.com/channel/UC9qw2Cg5-2014KLTI79cOPA", class: "list-group-item"
    = link_to "Scott Manley on Twitch", "https://twitch.tv/szyzyg", class: "list-group-item"
    = link_to "Scott Manley YouTube", "https://www.youtube.com/c/szyzyg", class: "list-group-item"
  %h2 Recent news
  %ul.list-group
    %li.list-group-item
      %span.badge 21 Mar 2022
      Waypoint game mode now supported.
