<section>
<ul>
<li><%= link_to 'Competitions', competitions_path %></li>
<li><%= link_to 'Players', players_path %></li>
</ul>
</section

<% if @longest_hit.any? -%>
<section>
Longest Hits - Top 10
<% @longest_hit.each do |r| -%> <% next if r.distance.nil? -%>
<%= number_to_human(r.distance, units: {unit: "m", thousand: "km"}) %> with <%= r.weapon %> by <%= r.player.name %>
<% end -%> 
</section>
<% end -%>
