- content_for(:html_title) { "Home" }
%section
  %ul
    - if user_signed_in?
      %li= link_to 'Rulesets', rulesets_path
    %li= link_to 'Competitions', competitions_path
    %li= link_to 'Players', players_path
    - if user_signed_in? && !current_user.player.nil?
      %li= link_to 'My Player', player_path(current_user.player)
      %li= link_to 'Vessel Hangar', player_vessels_path(current_user.player)
    - else
      %li= link_to 'Register', '/register'
