<% content_for(:html_title) { "Register" } -%>
<section>
<h1>Register</h1>
<% if user_signed_in? -%>
<% content_for(:nav) do %>
<ul class="list-unstyled">
  <li><%= link_to 'Home', home_path %></li>
  <li><%= link_to 'Vessel Hangar', player_vessels_path(current_user.player.id) %></li>
</ul>
<% end -%>
<% content_for(:sidebar) do %>
<h4>Actions</h4>
<ul class="list-unstyled">
  <li><%= link_to 'View Player', player_path(current_user.player) %></li>
  <li><%= link_to 'Edit Player', edit_player_path(current_user.player) %></li>
</ul>
<% end -%>
<p>You are registered as <%= current_user.player.name %>!</p>
<h2>Next Steps...</h2>
<blockquote><p>Check out the Vessel Hangar to learn more!</p></blockquote>
<% else -%>
<p>
Flying Circus is a KSP+BDArmory competition pitting diverse aircraft against each other. The rules are simple. Human players design aircraft according to sets of rules. AI pilots
fly these aircraft in free-for-all (FFA) ranked combat. Results are streamed on Twitch. Conquer the air today!
</p>
<%= link_to 'Get Started with a Google Account', user_google_oauth2_omniauth_authorize_path, method: :post, :class => 'c-button' %>
<% end -%>
</section>

