- part_keys = ["part", "resPri"]
%section
  %h1 Craft Details
  %h2= @craft.ship || "??"
  %h2 Has Vulcan? #{Validation::PartExists.new("bahaHiddenVulcan").apply(@craft)}
  %h2 Vulcan Range < 1000? #{Validation::FloatModulePropertyCondition.new("bahaHiddenVulcan", "ModuleWeapon", "engageRangeMax", :lte, 1000).apply(@craft)}
  %h2 Parts #{@craft.parts.count}
  %ul
    - @craft.parts.each do |part|
      %li
        %h3 Attributes
        %ul
          - part_keys.each do |k|
            %li #{k}: #{part[k]}
        %h3 Modules
        %ul
          - part[:modules].each do |m|
            %li
              %h4 Attributes
              %ul
              - m.keys.each do |k|
                %li #{k}: #{m[k]}
        %h3 Resources
        %ul
          - part[:resources].each do |r|
            %li
              %h4 Attributes
              %ul
                - r.keys.each do |k|
                  %li #{k}: #{r[k]}
