%nav
  %ul
    %li= link_to 'Home', home_path
    %li= link_to 'Vessel Hangar', player_vessels_path(@player)

%section
  %h1 Upload Vessel
  - if flash[:error]
    %ul.errors
    - flash[:error].each do |e|
      %li= e
  = form_for :vessel, url: player_vessels_path(@player), html: { multipart: true } do |f|
    = f.label :name
    = f.text_field :name
    = file_field_tag :file
    = f.submit 'Submit'

