%nav
  %ul
    %li= link_to 'Home', home_path
    %li= link_to 'Vessel Hangar', player_vessels_path(current_user.player)

%section
  %h1 Vessel Detail
  %p= @vessel.name
  - if @vessel.discarded?
    %p Retired #{time_ago_in_words(@vessel.discarded_at)} ago.
  %ul
    - if @vessel.discarded?
      %li= link_to 'Re-Activate', undiscard_player_vessel_path(@player, @vessel)
    - else
      %li= link_to 'Retire', player_vessel_path(@player, @vessel), method: :delete, data: { confirm: "Are you sure?" }
    %li= link_to 'Edit Vessel', edit_player_vessel_path(@player, @vessel)
    %li= link_to 'Download Craft', @vessel.craft_url

%section
  %h2 Competitions
  - if @vessel.competitions.any?
    %ul
      - @vessel.competitions.each do |c|
        %li= c.name
  - else
    %p None
