<nav>
<ul>
<li><%= link_to 'Home', root_path %></li>
<li><%= link_to 'Players', players_path %></li>
</ul>
</nav>

<section>
<h1>Edit Player</h1>
<%= form_for @player do |f| -%>
<%= f.label :name %>
<%= f.text_field :name %>
<%= f.submit 'Save' %>
<% end -%>
</section>

