<section>
<h1>Register Player</h1>
<h2>Consider the Following</h2>
<ul>
  <li>Every player must have a unique name.</li>
  <li>Player name will be included in all your craft submissions automatically.</li>
</ul>
<%= form_for @player do |f| -%>
<%- if flash[:error] %>
  <p class="errors"><%= flash[:error] %></p>
<%- end %>
<%= f.label :name %>
<%= f.text_field :name %>
<%= f.submit 'Save' %>
<% end -%>
</section>

