<nav>
<ul>
<li><%= link_to 'Home', root_path %></li>
<li><%= link_to 'Players', players_path %></li>
</ul>
</nav>

<section>
<h1>Player: <%= @player.name %></h1>
<% if user_signed_in? && current_user.player.id == @player.id -%>
<%= link_to 'Edit Player', edit_player_path(@player) %>
<%= link_to 'Logout', '/logout' %>
<% end -%>
</section>

<% if user_signed_in? && !current_user.player.nil? && current_user.player.id == @player.id -%>
  <%= render partial: 'available_competitions' %>
<% end -%>

<%= render partial: 'recent_competitions' %>

