- content_for(:html_title) { "Roles" }

= content_for(:nav, render(partial: 'shared/nav'))

- content_for(:sidebar) do
  %h4 Actions
  %ul.list-unstyled
    %li None

%section
  - organizers = @users.filter { |e| e.has_role? :organizer }
  - showrunners = @users.filter { |e| e.has_role? :showrunner }
  - players = @users.filter { |e| !e.has_any_role? :organizer, :showrunner }
  %h1 Organizers
  - if organizers.empty?
    %p None
  - else
    %table.table.sortable.searchable
      %tr
        %th Player Name
        %th Organizer
        %th Show Runner
      - @users.each do |user|
        %tr
          %td
            #{user.player.name rescue "unk"}
            - if user == current_user
              (you)
          %td
            - if user.has_role? :organizer
              Yes
              - if user != current_user && current_user.can_grant_organizer?
                = link_to 'Demote', demote_role_path(user.id, role: 'organizer')
            - else
              No
              - if user != current_user && current_user.can_grant_organizer?
                = link_to 'Promote to Organizer', promote_role_path(user.id, role: 'organizer')
          %td
            - if user.has_role? :showrunner
              Yes
              - if user != current_user && current_user.can_grant_showrunner?
                = link_to 'Demote', demote_role_path(user.id, role: 'showrunner')
            - else
              No
              - if user != current_user && current_user.can_grant_showrunner?
                = link_to 'Promote to Showrunner', promote_role_path(user.id, role: 'showrunner')

