- content_for(:html_title) { "New Rule" }

- content_for(:nav) do
  %ul.list-unstyled
    %li= link_to 'Home', home_path
    %li= link_to 'Rulesets', rulesets_path

- content_for(:sidebar) do
  %h4 Actions
  %ul.list-unstyled
    %li= link_to 'Cancel', ruleset_path(@ruleset)

- field_helper = lambda do |e|
  = e.label :part, 'Part name'
  = e.text_field :part
  = e.label :name, 'Name'
  = e.text_field :name
  = e.label :key, 'Property key'
  = e.text_field :key
  = e.label :op, 'Operator'
  = e.select :op, options_for_select([:lt, :gt, :lte, :gte, :eq, :neq])
  = e.label :value, 'Reference value'
  = e.text_field :value

%h1 New Rule
- if flash[:error]
  %ul.errors
    - flash[:error].each do |e|
      %li= e
= form_for @rule, url: ruleset_rules_path(@ruleset) do |f|
  = f.hidden_field :ruleset_id, value: @ruleset.id
  = f.select :strategy, options_for_select(Rule::strategy_select_options), { include_blank: true }, class: 'form-control'
  %fieldset#part_count{style: "display: none"}
    = f.fields_for :part_count do |e|
      = e.label :op
      = e.select :op, options_for_select([:lt, :lte, :gt, :gte, :eq, :neq])
      = e.label :value
      = e.text_field :value
  %fieldset#part_set_count{style: "display: none"}
    = f.fields_for :part_set_count do |e|
      = e.label :parts
      = e.text_field :parts
      %span (comma-delimited names)
      = e.label :op
      = e.select :op, options_for_select([:lt, :lte, :gt, :gte, :eq, :neq])
      = e.label :value
      = e.number_field :value
  %fieldset#part_exists{style: "display: none"}
    = f.fields_for :part_exists do |e|
      = e.label :part
      = e.text_field :part
  %fieldset#part_set_contains{style: "display: none"}
    = f.fields_for :part_set_contains do |e|
      = e.label :parts
      = e.text_field :parts
      %span (comma-delimited names)
      = e.label :matcher
      = e.select :matcher, options_for_select([:none, :any, :all])
  %fieldset#property{style: "display: none"}
    = f.fields_for :properties, &field_helper
  %fieldset#ship_cost{style: "display: none"}
    %ul
    = f.fields_for :ship_cost do |e|
      %li
        = e.label :value
        = e.select :op, options_for_select([:lt, :lte, :gt, :gte, :eq, :neq])
        = e.text_field :value
  %fieldset#ship_mass{style: "display: none"}
    %ul
    = f.fields_for :ship_mass do |e|
      %li
        = e.label :value
        = e.select :op, options_for_select([:lt, :lte, :gt, :gte, :eq, :neq])
        = e.text_field :value
  %fieldset#ship_type{style: "display: none"}
    = f.fields_for :ship_type do |e|
      = e.label :type
      = e.select :type, options_for_select([:sph, :vab])
  %fieldset#ship_size{style: "display: none"}
    %ul
    = f.fields_for :ship_size do |e|
      %li
        = e.label :x
        = e.select :opx, options_for_select([:lt, :lte, :gt, :gte, :eq, :neq])
        = e.text_field :x
      %li
        = e.label :y
        = e.select :opy, options_for_select([:lt, :lte, :gt, :gte, :eq, :neq])
        = e.text_field :y
      %li
        = e.label :z
        = e.select :opz, options_for_select([:lt, :lte, :gt, :gte, :eq, :neq])
        = e.text_field :z
  .form-group= f.submit "Create Rule", class: 'form-control'
