- content_for(:html_title) { "VariantGroup - #{@variant_group.keys}" }

- content_for(:nav) do
  %ul.list-unstyled
    %li= link_to 'Home', home_path
    %li= link_to 'Evolutions', evolutions_path

- content_for(:sidebar) do
  %h4 Actions
  %ul.list-unstyled
    - if @variant_group.competition.nil?
      %li= link_to 'Generate Competition', generate_variant_group_path(@variant_group)
    - else
      %li= link_to "Back", evolution_path(@variant_group.evolution)

%section
  %h1 Evolution: #{@variant_group.evolution.name}
  %h2 Vessel: #{@variant_group.evolution.vessel.name}
  %h2 Generation: #{@variant_group.generation+1} of #{@variant_group.evolution.max_generations}
  %h2 Keys: #{@variant_group.keys}
  - if @variant_group.competition.nil?
    %p No Competition
  - else
    %p= link_to 'Competition details', competition_path(@variant_group.competition)

%section
  %h2 Variants
  %ul.list-unstyled
    - @variant_group.variants.each do |v|
      %li Name: G#{@variant_group.generation}-V#{v.id}, Values: #{v.values}

- unless @variant_group.competition.nil? || @variant_group.competition.rankings.empty?
  - best_variant_vessel = @variant_group.competition.rankings.order(:rank).first.vessel
  %section
    %h2 Best Variant
    %p Name: #{best_variant_vessel.name}, Values: #{best_variant_vessel.variant.values}
    %h2 Weighted Variant
    %p Values: #{@variant_group.result_values}
