- content_for(:html_title) { "VariantGroup - #{@variant_group.keys}" }

= content_for(:nav, render(partial: 'shared/nav'))

- content_for(:sidebar) do
  %h4 Actions
  %ul.list-unstyled
    - if @variant_group.competition.nil?
      %li= link_to 'Generate Competition', generate_variant_group_path(@variant_group)
    - else
      %li= link_to "Back", evolution_path(@variant_group.evolution)

%section
  %h1 Evolution: #{@variant_group.evolution.name}
  %h2 Vessel: #{@variant_group.evolution.vessel.name}
  %h2 Group Details
  %ul
    %li Baseline Values: #{@variant_group.baseline_values}
    %li Keys: #{@variant_group.keys}
    %li Generation Strategy: #{@variant_group.generation_strategy}
    %li Selection Strategy: #{@variant_group.selection_strategy}
    %li Spread Factor: #{@variant_group.spread_factor}
    %li
      Competition:
      - if @variant_group.competition.nil?
        None
      - else
        = link_to 'Competition details', competition_path(@variant_group.competition)

%section
  %h2 Variants
  %ul.list-unstyled
    - @variant_group.variants.each do |v|
      %li Name: G#{@variant_group.generation}-V#{v.id}, Values: #{v.values}

- unless @variant_group.competition.nil? || @variant_group.competition.rankings.empty?
  - best_variant_vessel = @variant_group.competition.rankings.order(:rank).first.vessel
  %section
    %h2 Best Variant
    %p Name: #{best_variant_vessel.name}, Values: #{best_variant_vessel.variant.values}
    %h2 Result Variant
    %p Values: #{@variant_group.result_values}
