<!DOCTYPE html>
<html>
  <head>
    <meta name="description" content="Human-designed AI-piloted aircraft combat in an ongoing ranked tournament format." />
    <link rel="canonical" href="https://conquertheair.com/home" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="Flying Circus | Community | API" />
    <meta property="og:description" content="Human-designed AI-piloted aircraft combat in an ongoing ranked tournament format." />
    <meta property="og:url" content="https://conquertheair.com/home" />
    <meta property="og:site_name" content="Flying Circus" />
    <title>Flying Circus &dash; <%= content_for?(:html_title) ? yield(:html_title) : "" %></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag :application %>
    <%= javascript_include_tag :application %>
  </head>

  <body>
    <header>Flying Circus API</header>
    <%= yield %>
  </body>
</html>
