<!DOCTYPE html>
<html lang="en">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
    <meta name="description" content="Human-designed AI-piloted aircraft combat in an ongoing ranked tournament format." />
    <link rel="canonical" href="https://conquertheair.com/home" />
    <%= yield(:meta) or render partial: 'meta_og' %>
    <title>Flying Circus &dash; <%= content_for?(:html_title) ? yield(:html_title) : "" %></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag :application %>
    <%= javascript_include_tag :application %>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-TTB13GHB62"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'G-TTB13GHB62');
    </script>
  </head>

  <body>
    <header class="g-header">
      <span class="g-header__logo">Flying Circus API</span>
      <nav class="g-header__nav"><%= yield(:nav) %></nav>
    </header>
    <div class="g-container">
      <%= yield %>
    </div>
    <div class="g-sidebar">
      <%= yield(:sidebar) %>
    </div>
  </body>
</html>
