<!DOCTYPE html>
<html>
  <head>
    <title>BDA Scores</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag :application %>
    <%= javascript_include_tag :application %>
  </head>

  <body>
    <header>BDArmory Remote Orchestration</header>
    <%= yield %>
  </body>
</html>
